


/***************************/
/* -------- PRICE -------- */
/***************************/


.hlg-price {
	position: absolute;
	height: 58px;
	padding-bottom: 20px;
	font: bold 30px/1.4 $RC;
	overflow: hidden;
	z-index: 5;
	
	&:before {
		content: '';
		position: absolute;
		width: 30px;
		height: 30px;
		background-color: #f7c500;
	}
}

.hlg-price-txt {
	height: 42px;
	box-sizing: border-box;
}

.hlg-price-centime {
	position: relative;
	font: bold 27px/27px $RC;
}

.hlg-price-currency {
	position: absolute;
	left: 0;
	top: -18px;
	font: bold 24px/24px $RC;
}

.hlg-price-left {
	padding-right: 10px;
	transform: skewX(-18deg);
	
	&:before {
		left: -19px;
		top: 22px;
		transform: skewX(18deg) rotate(53deg);
	}
	
	.hlg-price-txt {
		padding: 1px 8px 0 20px;
		margin-left: -10px;
		transform: skewX(18deg);
		background: linear-gradient(to bottom, #f7c500 0%, #fff800 100%);
	}
}

.hlg-price-right {
	padding-left: 10px;
	transform: skewX(18deg);
	
	&:before {
		right: -19px;
		top: 22px;
		transform: skewX(-18deg) rotate(-53deg);
	}
	
	.hlg-price-txt {
		padding: 1px 20px 0 8px;
		margin-right: -10px;
		transform: skewX(-18deg);
		background: linear-gradient(to bottom, #f7c500 0%, #fff800 100%);
	}
}


