

{# Header #}
{% include 'header.twig' %}


{# Content #}
<!-- {% block commentedPageName %}{% endblock %} -->
<section class="page {% block cssClassName %}{% endblock %}">

{% block content %}{% endblock %}

</section>


{# Footer #}
{% include 'footer.twig' %}
