


/********************************/
/* -------- CONTAINERS -------- */
/********************************/


#main-container {
	font: normal 13px/15px Arial;
	// -webkit-font-smoothing: subpixel-antialiased;
	// -moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// -webkit-text-stroke: 0.35px;
	color: $alt2;
}

#page-container {
	position: relative;
	width: 100%;
	z-index: 0;
}

#page {
	opacity: 0;
}

.center-wrapper {
	width: $contentW;
	margin: auto;
}


