	
	</div> <!-- End .page-container -->
	
	<!-- Footer -->
	<footer class="footer">
		
	</footer>
	
	{# {% include 'no-js.twig' %} {# no JS # #}
	
	{# {% include 'old-browser.twig' %} {# old browser # #}
	
</div> <!-- End .main-container -->


{# JS #}
{% include 'js.twig' with { jsScriptName: 'desktop' } %}


</div> <!-- End .{{ Config.CSS_WRAPPER }} -->


</body>
</html>