	
	</div> <!-- End #page-container -->
	
	<!-- Footer -->
	<footer id="footer">
		
	</footer>
	
	{# {% include 'no-js.twig' %} {# no JS # #}
	
	{# {% include 'old-browser.twig' %} {# old browser # #}
	
</div> <!-- End #main-container -->


</div> <!-- End #{{ Config.CSS_WRAPPER }} -->


{# JS #}
{% include 'js.twig' with { jsScriptName: 'desktop' } %}


</body>
</html>